build
output
.idea
*.iml
*.ipr
*.iws
out

Cosmere*.jar
MDK.zip
/run
/.gradle
*.classpath
*.project
.settings
/eclipse
*.launch
docs/changelog*.txt

*.blend1
*.blend2
/bin
/logs
/src/datagen/*/resources
libs/

**/.DS_Store