# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run

# Files from Forge MDK
forge*changelog.txt
.run/_cosmere [incrementBuildNumber].run.xml
src/main/resources/assets/cosmere/textures/item/metal_bracelet - Copy.png
